* {
    margin: 10;
  }

header,
footer {
  background-color: rgb(97, 179, 97);
}
  
.menu {
  list-style-type: none; /* Supprime les puces */
  padding: 0; /* Supprime le padding */
  margin: 0; /* Supprime la marge */
  display: flex; /* Affiche les éléments du menu en ligne */
  align-items: center;
}

.menu-item {
  margin: 5px; /* Ajoute un peu d'espace entre les éléments */
}

.menu-item a {
  display: block; /* Permet d'étendre la zone cliquable */
  padding: 0px 25px; /*Ajuste le padding par défaut
  font-size: 16px; /* Taille de police par défaut */
  font-weight:bold;
  color: white; /* Couleur du texte */
  text-decoration: none; /* Supprime le soulignement */
  transition: background-color 0.3s; /* Ajoute une transition pour le survol */
}

/* Media Queries pour les écrans plus petits */
@media (max-width: 900px) {
  .menu-item a {
      padding: 8px 12px; /* Réduit le padding */
      font-size: 14px; /* Réduit la taille de la police */
  }
}

@media (max-width: 600px) {
  .menu-item a {
      padding: 4px 8px; /* Réduit encore plus le padding */
      font-size: 10px; /* Réduit la taille de la police */
  }
}


body {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #dadae7;  
}
p {
    font-family: "Manrope";   
    font-size: 1.1em;
    
    }
h1 {
    font-family: "montserrat";
    font-size: 3.5em;
    text-align: center;
    color: black;
}
h2 {
  font-family: "montserrat";
  font-size: 2em;
  text-align: center;
  color: black;
}
ul {
    font-family: "Manrope";   
    font-size: 1em;
}
header a {     /*à conserver*/
    text-decoration: none;
    font-weight:bold;
    color: white;
}
.lien-icone {
  margin-left: 0px;
  margin-right: 50px;
}
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* nav a {
  margin-left: 30px;
} */

header,        /*à conserver*/
footer {
  background-color: rgb(97, 179, 97);
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-right: 50px;
  /* padding: 30px 20px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;  */

}
.important {
    color: #A5B4FC;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  .manrope {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
  }
  /* .conteneur {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap:nowrap;
    padding: 15px;
    margin: 20px;
    justify-content: space-between;
    border: 1px solid white;
    text-align: justify ;
 } */
 .conteneur-quisommesnous {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px 500px;
  gap: 10px;
  padding: 15px;
  margin: 10px;

 }
 .une {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
 }
 .deux {
  grid-column: 1 / 3;
  grid-row: 2 / 2;
  text-align: justify;
 }
.trois {
  grid-column: 2 / 4;
  grid-row: 1 / 1;
  text-align: justify;
 }
 .quatre {
  grid-column: 3 / 3;
  grid-row: 2 / 2;
 }
.conteneur-entete {
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
}
.conteneur-accueil {
  /* display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
  align-items: center;
  justify-content: space-between;
  width: 50%; */
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); 2 colonnes */
  gap: 10px; /*espace entre les éléments*/
  padding: 10px;
  margin-right: 100px;
  margin-left: 100px;
  text-align: justify;
}
.conteneur-accueil a {
  color: green;
  font-style: bold;
}

.conteneur-messamena {
  /* background-color: white; */
  padding: 80px;
  text-align: justify;
}
.conteneur-messamena div {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin-bottom: 15px;
  align-items: center;
  margin: auto;
}
.conteneur-messamena img {
  width : 600px ; 
  height : auto ; 
}
td /* Toutes les cellules des tableaux... */
{
    border: 1px solid black; /* auront une bordure de 1px */
}

table {
  border-collapse: collapse;
  margin: auto;
}

td, th {
  border: 1px solid black;
  padding: 10px;
  align-content: center;
}
fieldset {
  border: none;
  background-color: #eeecec;
  border: 2px solid black;
  border-radius: 6px;
  margin-bottom: 20px;
}

legend {
  background-color: white;
  border: 2px solid black;
  border-radius: 6px;
  padding: 4px;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
}
.form-nom-email {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.form-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.section-contact {
  padding: 50px 20px;
}
input,
textarea {
  padding: 15px;
  border-radius: 3px;
  border: none;
}
input[type='submit'] {
  width: 200px;
  margin: auto;
  margin-top: 30px;
}
@media screen and (max-width: 960px) {
  .conteneur {
    flex-direction: column;
  }  
  /* .conteneur-accueil {
    grid-template-columns: 1fr; /* 1 colonne */
    /* width: 100%; 
  }   */
   .image {
    display: none;
  }
}